:root {
	--Background-Main: #FFFFFF;
	--Background-Surface: #FDF5FF;
	--Text-Primary: #1A1A1A;
	--Text-Secondary: #7533BC;
	--Text-Inverted: #FFFFFF;
	--Text-Disabled: #C845E9;
	--Button-Primary-Hover: #E4A2F4;
	--Button-Primary-Pressed: #7533BC;
	--Button-Primary-Default: #C845E9;
	--Button-Secondary-Default: #FDF5FF;
	--Button-Secondary-Hover: #E4A2F4;
	--Button-Secondary-Pressed: #C845E9;
	--Border-Default: #1A1A1A;
	--Border-Disabled: #E4A2F4;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
